<section class="Section-dashboard">
	<article class="ItemDashboard">
		<figure class="ItemDashboard-imageContainer">
			<%= link_to clients_path, :class => "ItemDashboard-link" do%>
				<%= image_tag("proyecto.jpg", :alt  =>"Agregar cliente", :class => "ItemDashboard-image") %>
			<% end %>
			<figcaption class="ItemDashboard-description">
				agregar cliente
			</figcaption>
		</figure>
	</article>
	<article class="ItemDashboard">
		<figure class="ItemDashboard-imageContainer">
			<%= link_to clients_path, :class => "ItemDashboard-link" do%>
				<%= image_tag("proyecto.jpg", :alt  =>"Agregar cliente", :class => "ItemDashboard-image") %>
			<% end %>
			<figcaption class="ItemDashboard-description">
				modificar cliente
			</figcaption>
		</figure>
	</article>
	<article class="ItemDashboard">
		<figure class="ItemDashboard-imageContainer">
			<%= link_to clients_path, :class => "ItemDashboard-link" do%>
				<%= image_tag("proyecto.jpg", :alt  =>"Agregar cliente", :class => "ItemDashboard-image") %>
			<% end %>
			<figcaption class="ItemDashboard-description">
				eliminar cliente
			</figcaption>
		</figure>
	</article>
	<article class="ItemDashboard">
		<figure class="ItemDashboard-imageContainer">
			<%= link_to clients_path, :class => "ItemDashboard-link" do%>
				<%= image_tag("proyecto.jpg", :alt  =>"Agregar cliente", :class => "ItemDashboard-image") %>
			<% end %>
			<figcaption class="ItemDashboard-description">
				registrar cliente
			</figcaption>
		</figure>
	</article>
</section>