<%= form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :employeName %><br>
    <%= f.text_field :employeName %>
  </div>
  <div class="field">
    <%= f.label :productsName %><br>
    <%= f.text_field :productsName %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
