<h1>Listing visits</h1>

<table>
  <thead>
    <tr>
      <th>Client_id</th>
      <th>Employename</th>
      <th>Productsname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.client_id %></td>
        <td><%= visit.employeName %></td>
        <td><%= visit.productsName %></td>
        <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
        <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path %>
