<p id="notice"><%= notice %></p>

<p>
  <strong>Clientid:</strong>
  <%= @visit.client_id %>
</p>

<p>
  <strong>Employename:</strong>
  <%= @visit.employeName %>
</p>

<p>
  <strong>Productsname:</strong>
  <%= @visit.productsName %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
