<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <section class="Section-addCustomer">
      <article class="Form-addCustomer">
        <div id="Form-timeAddCustomer" class="Form-timeAddCustomer"></div>
        <h1 class="Form-title Form-titleColor">
          Agregar cliente
        </h1>
        <form action="" class="Form-addCustomer">
          <div class="Form-Container">
            <div class="Form-subContainer">
              <label for="nameCustomer" class="Form-label nameCustomer">
              Nombre:
              </label>
              <%= f.text_field :name, :class => "Form-input", :placeholder => "Nombre del cliente" %>
            </div>
            <div class="Form-subContainer">
              <label for="firstLastNameCustomer" class="Form-label">
                Apellido paterno:
              </label>
              <%= f.text_field :lastName1, :class => "Form-input", :placeholder => "Apellido paterno" %>
            </div>
              <div class="Form-subContainer">
              <label for="secondLastNameCustomer" class="Form-label">
                Apellido materno:
              </label>
              <%= f.text_field :lastname2, :class => "Form-input", :placeholder => "Apellido materno" %>
            </div>
          </div>
          <div class="Form-lineBottom"></div>
          <div class="Form-Container">
            <div class="Form-subContainer">
              <label for="streetCustomer" class="Form-label">
                Calle:
              </label>
              <%= f.text_field :street, :class => "Form-input", :placeholder => "Calle" %>
            </div>
            <div class="Form-subContainer">
              <label for="colonyCustomer" class="Form-label">
                Colonia:
              </label>
              <%= f.text_field :neibor, :class => "Form-input", :placeholder => "Colonia" %>
            </div>
            <div class="Form-subContainer">
              <label for="numberOutCustomer" class="Form-label">
                Numero exterior:
              </label>
              <input type="text" name="numberOutCustomer" id="numberOutCustomer" class="Form-input" placeholder="Numero exterior.">
            </div>
            <div class="Form-subContainer">
              <label for="numberInCustomer" class="Form-label">
                Numero interior:
              </label>
              <input type="text" name="numberInCustomer" id="numberInCustomer" class="Form-input" placeholder="Numero interior.">
            </div>
          </div>
          <div class="Form-lineBottom"></div>
          <div class="Form-Container">
            <div class="Form-subContainer">
              <label for="stateCustomer" class="Form-label">
                Estado de la república:
              </label>
              <%= select_tag "state", options_from_collection_for_select(@states, "id", "name") %>
            </div>
            <div class="Form-subContainer">
              <label for="cityCustomer" class="Form-label">
                Municipio:
              </label>
              <%= f.select :municipality_id, options_from_collection_for_select(@municipalities, "id", "name") %>
            </div>
            <div class="Form-subContainer">
              <label for="postcodeCustomer" class="Form-label">
                Código Postal:
              </label>
              <%= f.text_field :zipCode, :class => "Form-input", :placeholder => "Codigo postal" %>
            </div>
          </div>
          <div class="Form-lineBottom"></div>
          <div class="Form-Container">
            <div class="Form-subContainer">
              <label for="birthdayCustomer" class="Form-label">
                Fecha de nacimiento:
              </label>
            </div>
            <div class="Form-subContainer">
              <%= f.date_field  :birthOn, :class => "Form-dateCustomer" %>
            </div>
            <div class="Form-subContainer">
              <label for="phoneCustomer" class="Form-label">
                Teléfono:
              </label>
            </div>
              <%= f.text_field :phoneNumber, :class => "Form-input", :placeholder => "Telefono" %>
            </div>
            <div class="Form-subContainer">
              <label for="mobileCustomer" class="Form-label">
                Celular:
              </label>
              <%= f.text_field :celPhoneNumber, :class => "Form-input", :placeholder => "Celular" %>
            </div>
            <div class="Form-subContainer">
              <label for="emailCustomer" class="Form-label">
                Correo:
              </label>
              <%= f.text_field :email, :class => "Form-input", :placeholder => "Correo electronico" %>
            </div>
          </div>
          <div class="Form-buttonContainer">
            <%= f.submit "Guardar", :class => "Form-button Button-violet" %> 
          </div>
        </form>
      </article>
    </section>
<% end %>
