<h1>Listing clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname1</th>
      <th>Lastname2</th>
      <th>Neibor</th>
      <th>Street</th>
      <th>Homenumber</th>
      <th>Homenumberext</th>
      <th>Zipcode</th>
      <th>Birthday</th>
      <th>Birthmonth</th>
      <th>Birthyear</th>
      <th>Celphonenumber</th>
      <th>Phonenumber</th>
      <th>Email</th>
      <th>Statusid</th>
      <th>Barcodeid</th>
      <th>Stateid</th>
      <th>Municipality_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.lastName1 %></td>
        <td><%= client.lastname2 %></td>
        <td><%= client.neibor %></td>
        <td><%= client.street %></td>
        <td><%= client.homeNumber %></td>
        <td><%= client.homeNumberExt %></td>
        <td><%= client.zipCode %></td>
        <td><%= client.birthOn %></td>
        <td><%= client.celPhoneNumber %></td>
        <td><%= client.phoneNumber %></td>
        <td><%= client.email %></td>
        <td><%= client.status_client_id %></td>
        <td><%= client.bar_code_id %></td>
        <td><%= client.municipality_id %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
