<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Lastname1:</strong>
  <%= @client.lastName1 %>
</p>

<p>
  <strong>Lastname2:</strong>
  <%= @client.lastname2 %>
</p>

<p>
  <strong>Neibor:</strong>
  <%= @client.neibor %>
</p>

<p>
  <strong>Street:</strong>
  <%= @client.street %>
</p>

<p>
  <strong>Homenumber:</strong>
  <%= @client.homeNumber %>
</p>

<p>
  <strong>Homenumberext:</strong>
  <%= @client.homeNumberExt %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @client.zipCode %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @client.birthOn %>
</p>

<p>
  <strong>Celphonenumber:</strong>
  <%= @client.celPhoneNumber %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @client.phoneNumber %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Statusid:</strong>
  <%= @client.status_client_id %>
</p>

<p>
  <strong>Barcodeid:</strong>
  <%= @client.bar_code_id %>
</p>

<p>
  <strong>Municipalityid:</strong>
  <%= @client.municipality_id %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
