<%= form_for(@status_client) do |f| %>
  <% if @status_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status_client.errors.count, "error") %> prohibited this status_client from being saved:</h2>

      <ul>
      <% @status_client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
