<h1>Listing status_clients</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_clients.each do |status_client| %>
      <tr>
        <td><%= status_client.description %></td>
        <td><%= link_to 'Show', status_client %></td>
        <td><%= link_to 'Edit', edit_status_client_path(status_client) %></td>
        <td><%= link_to 'Destroy', status_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status client', new_status_client_path %>
