<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @status_client.description %>
</p>

<%= link_to 'Edit', edit_status_client_path(@status_client) %> |
<%= link_to 'Back', status_clients_path %>
