<%= form_for(@bar_code) do |f| %>
  <% if @bar_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bar_code.errors.count, "error") %> prohibited this bar_code from being saved:</h2>

      <ul>
      <% @bar_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
