<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @bar_code.code %>
</p>

<p>
  <strong>Path:</strong>
  <%= @bar_code.path %>
</p>

<%= link_to 'Edit', edit_bar_code_path(@bar_code) %> |
<%= link_to 'Back', bar_codes_path %>
