<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @municipality.name %>
</p>

<p>
  <strong>Stateid:</strong>
  <%= @municipality.stateId %>
</p>

<%= link_to 'Edit', edit_municipality_path(@municipality) %> |
<%= link_to 'Back', municipalities_path %>
