/*================================================*/
/*================================================*/
		/* Buttons and titles */
/*================================================*/
/*================================================*/
.Button-violet {
	background: #8A7EE1;
}
.Button-violet:hover {
	background: #BF55EC;
}
.Form-titleColor {
	color: #7E0026;
}
.Form-title {
	display: block;
	font-size: 1.2em;
	font-weight: normal;
	margin-left: .3em;
}
/*================================================*/
/*================================================*/
		/* Login components */
/*================================================*/
/*================================================*/
.Form-iconUserLogin {
	background-image: url(../image/user2.svg);
	background-repeat: no-repeat;
	background-size: 2em;
}
.Form-iconPassLogin {
	background-image: url(../image/password2.svg);
	background-repeat: no-repeat;
	background-size: 2em;
}
.Form-isAnimate {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;

	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
/*================================================*/
/*================================================*/
		/* Login styles */
/*================================================*/
/*================================================*/
.Form-signIn {
	display: block;
	margin: 1em auto;
	max-width: 21.9em;
}
.Form-image {
	display: block;
}
.Container-loginLogoImage {
	width: 99.9%;
}
.Form-messageWelcome {
	color: #626161;
	font-size: 1.5em;
	text-align: center;
}
.Form-inputLogin {
	display: block;
	font-size: 1.3em;
	margin-top: .5em;
	padding: .5em 0 .5em 2.5em;
	width: 84%;
}
.Form-buttonLogin {
	border-bottom: .25em solid #BF55EC;
	border-radius: .5em;
	color: #FFF;
	font-weight: bold;
	margin-top: 1em;
	padding: 1em 0;
	width: 100%;
}
/*================================================*/
/*================================================*/
		/* Header styles */
/*================================================*/
/*================================================*/
.Header {
	border-bottom: .19em solid #757575;
	height: 3.75em;
	position: relative;
}
.Header-imageContainer {
	display: inline-block;
	margin: 0 1em;
	position: relative;
}
.Header-image {
	display: none;
}
/*================================================*/
/*================================================*/
		/* Menu styles */
/*================================================*/
/*================================================*/
.MainMenu {
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0em;
}
.MainMenu-list {
	float: right;
	margin: 0 ;
	padding: 0;
}
.MainMenu-item {
	display: inline-block;
}
.MainMenu-image {
	margin-right: 1em;
}
.MainMenu-out {
	border-bottom: .25em solid #BF55EC;
	border-radius: .5em;
	color: #FFF;
	font-weight: bold;
	line-height: 3.75em;
	margin-right: 1.5em;
	padding: .3em 1em;
	text-decoration: none;
	text-transform: capitalize;
}
/*================================================*/
/*================================================*/
		/* Footer styles */
/*================================================*/
/*================================================*/
.Footer {
	color: #757575;
	display: block;
	height: auto;
	margin-top: .5em;
	text-align: center;
	width: 100%;
}
.Footer-image {
	width: 8em;
}
/*================================================*/
/*================================================*/
		/* Items dashboard styles */
/*================================================*/
/*================================================*/
.Section-dashboard {
	margin-top: 1em;
	text-align: center;
}
.ItemDashboard {
	display: inline-block;
	margin-bottom: 1.8em;
	margin-right: 1.8em;
}
.ItemDashboard-imageContainer {
	border-radius: .5em;
	border: .1em solid #000;
	margin: 0;
	padding: .5em;
}
.ItemDashboard-image {
	width: 9.4em;
}
.ItemDashboard-image:hover {
	opacity: .8;
}
.ItemDashboard-description {
	color: #7E0026;
	font-size: 1.2em;
	text-align: center;
	text-transform: capitalize;
}
/*================================================*/
/*================================================*/
		/* addCustomer styles */
/*================================================*/
/*================================================*/
.Form-addCustomer {
	margin: 1em 0;
}
.Form-timeAddCustomer {
	color: #757575;
	display: block;
	margin-left: .5em;
}
.Form-label {
	color: #626262;
	display: block;
	margin-left: .5em;
}
.Form-input {
	border: 1px solid #757575;
	display: block;
	font-size: 1.2em;
	margin: 0 .2em;
	padding: .3em .3em;
	width: 93%;
}
.Form-lineBottom {
	margin-top: .5em;
}
.Form-selectState {
	background: #FFF;
	display: block;
	font-size: 1.2em;
	margin: 0 .2em;
	padding: .3em .3em;
	width: 93%;
}
.Form-dateCustomer {
	background: #FFF;
	display: block;
	font-size: 1.2em;
	margin: 0 .2em;
	padding: .3em .3em;
	width: 93%;
}
.Form-button {
	border-bottom: .25em solid #BF55EC;
	border-radius: .5em;
	color: #FFF;
	font-weight: bold;
	margin-top: 1em;
	padding: 1em 0;
	width: 100%;
}
/*================================================*/
		/* Responsive design */
/*================================================*/
@media screen and (min-width: 480px) {
	.Header {
		height: 4em;
	}
	.Header-image {
		display: block;
		width: 5em;
	}
}
@media screen and (min-width: 800px) {
/*================================================*/
		/* Responsive login */
/*================================================*/
	.Form-signIn {
		display: block;
		margin: 3em auto 1em;
		max-width: 21.9em;
	}
	.Form-buttonLogin {
		border-bottom: .25em solid #BF55EC;
		border-radius: .5em;
		bottom: 0;
		color: #FFF;
		display: block;
		font-weight: bold;
		margin-top: 1em;
		padding: 1em 0;
		position: absolute;
		right: .4em;
		width: 40%;
	}
	.Form-buttonContainer{
		display: block;
		height: 4em;
		position: relative;
	}

/*================================================*/
		/* Header styles */
/*================================================*/
	.Header {
		height: 6.75em;
	}
	.Header-image {
		display: block;
		width: 10em;
	}

/*================================================*/
		/* Menu styles */
/*================================================*/
	.MainMenu {
		top: 1.4em;
	}
/*================================================*/
		/* Footer styles */
/*================================================*/
	.Footer {
		bottom: 0;
		display: block;
		height: auto;
		position: fixed;
		text-align: center;
		width: 100%;
	}
	.Footer-image {
		width: 8em;
	}
/*================================================*/
		/* Items dashboard styles */
/*================================================*/
	.Section-dashboard {
		margin-top: 10%;
	}
/*================================================*/
		/* Form add customer styles */
/*================================================*/
	.Form-timeAddCustomer {
		float: right;
		margin-right: 2em;
	}
	.Form-Container {
		display: block;
	}
	.Form-subContainer {
		display: inline-block;
		margin: .1em 0 .5em;
		text-align: center;
	}
	.Form-label {
		display: inline-block;
	}
	.Form-input {
		border-radius: .5em;
		display: inline-block;
		padding: 0 .3em;
		width: 13.12em;
	}
	.Form-selectState {
		border-radius: .5em;
		display: inline-block;
		padding: 0 .3em;
		width: 15.12em;
	}
	.Form-dateCustomer {
		background: #FFF;
		border-radius: .5em;
		display: block;
		font-size: 1.2em;
		margin: 0 .2em;
		padding: 0 .3em;
		width: 10em;
	}
	.Form-button {
		border-bottom: .25em solid #BF55EC;
		border-radius: .5em;
		bottom: 0;
		color: #FFF;
		display: block;
		font-weight: bold;
		margin-top: 1em;
		padding: 1em 0;
		position: absolute;
		right: 10em;
		width: 10%;
	}
}