<!DOCTYPE html>
<html>
<head>
  <title>EsteticaMariaBellaStudio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
</head>
<body>
<header class="Header">
	<figure class="Header-imageContainer">
		<%= image_tag("logo-maria-bella.png", :alt  =>"Logo Maria Bella Studio", :class => "Header-image") %>
	</figure>
	<nav class="MainMenu">
		<ul class="MainMenu-list">
			<li class="MainMenu-item">
				<a href="addCustomer.html" class="MainMenu-link">
					<%= image_tag("user2.svg", :class => "MainMenu-image") %>
				</a>
			</li>
			<li class="MainMenu-item">
				<a href="updateCustomer.html" class="MainMenu-link">
					<%= image_tag("user2.svg", :class => "MainMenu-image") %>
				</a>
			</li>
			<li class="MainMenu-item">
				<a href="deleteCustomer.html" class="MainMenu-link">
					<%= image_tag("user2.svg", :class => "MainMenu-image") %>
				</a>
			</li>
			<li class="MainMenu-item">
				<a href="registerCustomer.html" class="MainMenu-link">
					<%= image_tag("user2.svg", :class => "MainMenu-image") %>
				</a>
			</li>
			<li class="MainMenu-item">
				<a href="#" class="MainMenu-out Button-violet">salir</a>
			</li>
		</ul>
	</nav>
</header>

<%= yield %>

<footer class="Footer">
	<div class="Footer-imageContainer">
		<a href="http://www.osmatik.somee.com/" target="_blank" class="Footer-link">
			<%= image_tag("logo-osmatik.png", :class => "Footer-image") %>
		</a>
	</div>
	<span class="Footer-messageContainer">
		<dfn class="Footer-message">Todos los derechos reservados, 2015.</dfn>
	</span>
</footer>

</body>
</html>
